// Archivo SCSS para los estilos de los botones
@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton{
    @include m.boton(v.$azul,v.$blanco);    
}

.buqueda .formulario-acciones .boton {
    margin: 0;
    width: auto;
    display: inline-block;
    padding: 1rem 2rem;
}
