EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=TU_MAILTRAP_USERNAME
EMAIL_PASS=TU_MAILTRAP_PASSWORD
EMAIL_FROM=no-reply@appsalon.com
APP_URL=http://AppSalon_PHP_MVC_JS_SASS.local

DB_HOST=localhost
DB_PORT=3306
DB_USER=TU_DB_USER
DB_PASS=TU_DB_PASS
DB_NAME=appsalon_mvc